<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>ClientsApp | Create Client</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
  </head>

  <body>

    <header th:insert="fragments/menu :: menu-principal"></header>

    <main role="main">     
      <hr>
      <div class="container"> 

        <div class="card">
          <h4 class="card-header"><strong>Formulaire Client </strong></h4>              
          <div class="card-body">
            <form th:action="@{/clients/save}" method="post" th:object="${client}">
              <div th:if="${#fields.hasErrors('*')}"class='alert alert-danger' role='alert'>
				Liste de erreurs:
				<ul>
				<li th:each="err : ${#fields.errors('*')}" th:text="${err}"/>
				</ul>
			  </div>              
              <div class="row">
                <div class="col-md-6"> 
                  <div class="form-group">
                    <input type="hidden" th:field="*{id}">
                    <label for="nom">Nom</label>
                    <input type="text" class="form-control" th:field="*{nom}" placeholder="nom du client" required="required">
                  </div>
                </div>                
              </div> 
              <div class="row">
                <div class="col-md-6"> 
                  <div class="form-group">
                     <label for="prenom">Prenom</label>
                    <input type="text" class="form-control" th:field="*{prenom}" placeholder="prenom du client" required="required">
                  </div>
                </div>                
              </div> 
              <div class="row">
                <div class="col-md-6"> 
                  <div class="form-group">
                    <label for="telephone">Telephone</label>
                    <input type="text" class="form-control" th:field="*{telephone}" placeholder="telephone du client" required="required">
                  </div>
                </div>                
              </div> 
               <div class="row">
                <div class="col-md-6"> 
                  <div class="form-group">
                    <label for="telephone">Date de prise Contact</label>
                    <input type="date" class="form-control" th:field="*{datePriseContact}" placeholder="Date de prise Contact" required>
                  </div>
                </div>                
              </div> 
              <hr>
              <button type="submit" title="Save the record." class="btn btn-primary">Save</button>  
            </form>
          </div>
        </div>
      </div> <!-- /container -->

    </main>

    <footer th:insert="fragments/footer :: pie-pagina" class="footer"></footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>     
  </body>
</html>